.menu-mobile {
    width: 100%;
    background-color: #4b4b5f;
    color: white;
}

.menu-burger {
    padding: 8px 16px;
}

.burger-button a {
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.menu-desktop {
    display: none;
}

.slide-menu{
    position: absolute;
    background-color: #398a3d;
    width: 100%;
    height: 300px;
    left:-100%;
    transition: 0.3s;
}
.container{
    padding: 16px;
}

.slide-menu-show{
    left:0
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

a:hover {
    opacity: 0.5;
}

@media only screen and (min-width: 780px) {

    .menu-desktop {
        width: 100%;
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-auto-rows: 72px;
        transition: 0.5s;
        background-color: #4b4b5f;
        color: white;
    }

    .menu-mobile {
        display: none;
    }

    .logo {
        padding-right: 16px;
    }

    .menu-left {
        padding-left: 32px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .menu-right {
        padding-right: 32px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .menu-left a {
        padding-right: 16px;
    }

    .menu-right a {
        padding-left: 16px;
    }


}


